:root {
  --main-text-color: #fff;
  --main-liner-color: #9B0129;
  --second-liner-color: #A4052A;
  --book-cover-height: 350px;
  --main-deco-color: #3A3A3A;
  --second-deco-color: #4E4E4E;

}
.book__wrapper {
  color: var(--main-text-color);
  font-family: sans-serif;
  width: 250px;
  height: var(--book-cover-height);
  position: absolute;
  top: calc(50% - 175px);
  left: calc(50% - 125px);
  border-radius: 5px;
  background: linear-gradient(45deg,#111,#555);
  box-shadow: -2px 5px 3px grey;

}
.book__wrapper::before {
  content: "judge this book";
  font-size: 2.5rem;
  line-height: 1;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  top: 20%;
  left: 20%;
}
.book__wrapper::after {
  content: "by its cover";
  font-size: 0.75rem;
  text-transform: lowercase;
  font-style: italic;
  position: absolute;
  top: 60%;
  left: 20%;
}
.book__liner {
  background-image: 
    linear-gradient(90deg,
      var(--main-liner-color) 10%, var(--second-liner-color) 20%, 
      var(--main-liner-color) 30%, var(--second-liner-color) 40%,  
      var(--main-liner-color) 50%, var(--second-liner-color) 60%,
      var(--main-liner-color) 70%, var(--second-liner-color) 80%,
      var(--main-liner-color) 90%, var(--main-liner-color) 100%);
  width: 15px;
  height: calc(var(--book-cover-height) + 1%);
  position: absolute;
  top: -0.5%;
  right: 10%;
  border-radius: 2px;
  box-shadow: -1px 0 2px #555;
}
.book__deco {
   background: linear-gradient(90deg,
      var(--main-deco-color), 
      var(--second-deco-color) 45%, #222 55%, #333);
  width: 25px;
  height: var(--book-cover-height);
  position: absolute;
  top: 0%;
  left: 0%;
  opacity: 0.7;
  border-radius: 5px 0 0 5px;
}
