/*This class adds a border that goes under the image at the top and over
  the image at the bottom*/
html {
  height: 100%;
}
body {
  min-height: 100%;
  background-image: radial-gradient(circle, rgba(115, 89, 0, 0.8),
                                      rgba( 192, 149, 0, 0.7),
                                      rgba(255, 213, 66, 0.6), 
                                      rgba(255, 228, 134, 0.5)),
              repeating-linear-gradient(to top, 
                                      rgba( 255, 228, 134, 0.5),
                                      rgba( 220, 201, 166, 0.5) 20px,
                                      rgba( 255, 228, 134, 0.5) 40px);
}
.deco__borderOverlapse {
  height: 300px;
  margin: 100px 50px; 
  width: 800px;
  border: solid 3px #fff;
  position: relative;
}
.deco__borderOverlapse::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-bottom: solid 3px #fff;
}
.cat {
  height: 500px;
  margin-left: 50px;
  margin-top: -100px;
}