body {
  background-color: #51835C;
}
.wrapper {
  display: flex;
  justify-content: center;
}
/*Трапеция, нижняя половина лица*/
.face {
  width: 400px;
  height: 0px;
  position: absolute;
  top: 300px;
  border-bottom: 250px solid #92806B;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  /*box-shadow: 0 0 15px #555; раскомментировать тут,
  и закомментировать строку #42, чтобы увидеть проблему с тенью*/
}
/*Шапка, верхняя половина лица. 
И маска для тени которая повторяет форму головы*/
.face::before,
.face::after {
  content: '';
  width: 380px;
  height: 200px;
  position: absolute;
  top: -150px;
  border: 10px solid #92806B;
  border-radius: 120px 120px 0 0;
  background-color: #92806B;
}
/*Маска в размер головы с немного неправильной формой, 
задвинута на задний план, чтобы создать эффект 
тени на трапеции и шапке*/
.face::after{
  z-index: -1;
  height: 380px;
  top: -150px;
  left: 0;
  box-shadow: 0 0 15px #555;
}
.eye::before,
.eye::after {
  content: '-'; /*Это зрачок, для разнообразия 
  выполненный символом дефиса. Как корректно 
  комментировать конкретную строку, когда 
  текст комментария такой длинный?*/
  font-size: 40px;
  text-align: right;
  line-height: 10px;
  padding-right: 5px;
  color: white; /*Закончили со зрачком*/
  width: 40px;
  height: 30px;
  position: absolute;
  top: -50px;
  background-color: #010000;
  border-radius: 50%;
}
.eye::before {
  left: 90px;
}
.eye::after {
  left: 265px;
}
/*Подложка носа*/
.nose {
  width: 170px;
  height: 220px;
  position: absolute;
  top: -50px;
  left: calc(50% - 85px); /*Такая форма записи коректна?*/
  background-color: #E2E2B6;
  border-top-left-radius: 70px 100px;
  border-top-right-radius: 70px 100px;
  border-bottom-right-radius: 50px 50px;
  border-bottom-left-radius: 50px 50px;
  box-shadow: 0 0 10px #555;
}
.nose::before,
.nose::after {
  content: '';
  position: absolute;
}
/*Сам нос*/
.nose::after {
  width: 100px;
  height: 80px;
  top: 30px;
  left: calc(50% - 50px);
  background-color: #010000;
  border-radius: 40px / 30px;
}
/*Декор носа*/
.nose::before {
  width: 20px;
  height: 8px;
  top: 50px;
  left: 55%;
  background-color: #fff;
  border-radius: 2px;
  z-index: 1; 
}
/*Левое ухо*/
.ear::before,
.ear::after {
  content: '';
  width: 100px;
  height: 100px;
  position: absolute;
  top: -200px;
  left: -100px;
  background-color: #E2E2B6;
  border: 50px solid #92806B;
  border-radius: 50%;
  box-shadow: 0 0 15px #555;
  z-index: -1;
}
/*Правое ухо*/
.ear::after {
  top: -240px;
  left: 280px;
}
/*Центральная часть рта*/
.mouth {
  width: 12px;
  height: 50px;
  position: absolute;
  top: 50px;
  left: calc(50% - 6px);
  background-color: #010000;
  z-index: 1;
}
/*Боковые части рта. Каждая часть - это половина 
border от квадрата с радиусом 50% и поворотом до 
горизонтального уровня */
.mouth::before,
.mouth::after {
  content: '';
  width: 60px;
  height: 60px;
  position: absolute;
  border: 11px solid #010000;
  border-radius: 50%;
  border-top-color: transparent;
  border-right-color: transparent;
  transform: rotate(-45deg);
}

.mouth::before{
  left: 0;
}
.mouth::after{
  left: -70px;
}
/*Полоски на лбу без псевдоэлементов, 
тут проще добавить копий тенями*/
.forehead {
  width: 6px;
  height: 30px;
  border-radius: 30%;
  background-color: #E2E2B6;
  transform: rotate(20deg);
  display: inline-block;
  position: relative;
  top: -120px;
  left: 52%;
  box-shadow: -20px 7px  0 0 #E2E2B6,
              -40px 14px 0 0 #E2E2B6;
}

